/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

body{
  min-width: 1200px;
  color: #282828;
  height: 100%;
  /*margin-bottom: 40px;*/
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a{
  text-decoration: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * 自定义样式
 */
html, body, h1, h2, h3, h4, h5, h6, hr, div, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, i {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  box-sizing: border-box;
}

code {
  font-weight: 400 !important;
}

html, body, .rx-wrap {
  width: 100%;
  height: 100%;
}

body {
  font-size: 12px;
  font-weight: 300;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  outline: none;
  hide-focus: expression( this.hideFocus=true );
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input, button, select {
  outline: none;
}

input::-ms-clear {
  display: none;
}

ul, li {
  list-style: none;
}

img, a {
  border: 0 none;
}

i {
  display: inline-block;
}

em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*浮动&清除浮动*/
.rx-fl {
  float: left;
}

.rx-fr {
  float: right;
}

.rx-clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*定位*/
.rx-relative {
  position: relative;
}

.rx-absolute {
  position: absolute;
}

/*居中*/
.rx-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*按钮*/
.btn {
  position: relative;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #fff;
  background: #50aff2;
  border-radius: 19px;
  padding: 0 22px;
}

/*去除圆角*/
.rx-clear-radius {
  border-radius: 0 !important;
}

/*边距*/
.rx-margin-top-20 {
  margin-top: 20px;
}

.rx-padding-20-0 {
  padding: 20px 0;
}

.rx-padding-left-10 {
  padding-left: 10px;
}

.rx-padding-right-10 {
  padding-right: 10px;
}

/*banner*/
.rx-banner {
  height: 460px;
}

.rx-banner .content {
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}

.rx-banner .content h2 {
  font-size: 48px;
}

.rx-banner .content p {
  font-size: 26px;
  padding-top: 20px;
}

.rx-banner .content div {
  padding-top: 32px;
}

/*主体部分*/
.rx-main {
  width: 1140px;
  margin: 0 auto;
}

.rx-grid {
  padding: 60px 0;
}

.rx-grid ul li {
  float: left;
  width: 25%;
  text-align: center;
}

.rx-grid ul li i {
  font-size: 38px;
  height: 38px;
}

.rx-grid ul li:first-child i {
  font-size: 32px;
  padding-top: 3px;
}

.rx-grid ul li h6 {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
}

.rx-grid ul li p {
  color: #888;
  margin-top: 5px;
}

.rx-grid-each {
  text-align: center;
  padding: 60px 0;
}

.rx-grid-each h2 {
  font-size: 26px;
  color: #000;
  margin-bottom: 10px;
}

/*可视化展示*/
.rx-visual {
  position: relative;
}

/*侧边栏*/
.rx-visual .rx-sidebar {
  position: fixed;
  top: 60px;
  left: 20px;
  bottom: 40px;
  width: 240px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 10px 0px 15px 20px;
}

.rx-visual .rx-sidebar ul {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.rx-visual .rx-sidebar ul li a {
  font-size: 14px;
  color: inherit;
  line-height: 32px;
}

.rx-visual .rx-sidebar ul li a:hover {
  color: #50aff2;
}

/*可视化展示--右侧*/
.rx-page-component {
  padding: 0 50px 50px 300px;
}

.rx-page-component .rx-each-item {
  padding-top: 48px;
}

/*标题*/
.rx-page-component .rx-tit {
  position: relative;
}

.rx-page-component .rx-tit h2 {
  font-size: 28px;
}

.rx-page-component .rx-tit p {
  margin-top: 5px;
}

.rx-page-component .rx-tit i {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 24px;
}

/*子标题*/
.rx-page-component h3 {
  font-size: 20px;
  margin: 20px 0 5px;
}

.rx-page-component p {
  font-size: 14px;
  color: #666;
}

.rx-page-component p a {
  color: #50aff2;
}

/*代码块*/
.rx-page-component a.copy, .rx-page-component a.up {
  position: absolute;
  color: #888;
}

.rx-page-component a.copy {
  top: 10px;
  right: 10px;
}

.rx-page-component a.up {
  top: 8px;
  right: 38px;
  font-size: 18px;
}

.rx-page-component code {
  display: block;
  color: #8a8a8a;
  background: #fafafa;
  border-radius: 5px;
  padding: 0 20px;
}

/*布局示例*/
p.explain {
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #fafafa;
  padding-left: 15px;
  margin: 18px 0;
}

.rx-demo-layout .example-wrap {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.rx-demo-layout .code-example-wrap {
  padding: 10px;
}

.rx-demo-layout .example-wrap .code-block{
  display: none;
}

.rx-demo-layout .example-wrap .layout {
  padding: 10px;
}

.rx-demo-layout .example-wrap a.toggle-btn {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #e7e7e7;
}

/*布局*/
.row {
  padding: 10px;
}

.row .col {
  float: left;
}

.row .col-1-1 {
  width: 100%;
}

.row .col-1-2 {
  width: 50%;
}

.row .col-1-3 {
  width: 33.333%;
}

.row .col-2-3 {
  width: 66.666%;
}

.row .col-1-4 {
  width: 25%;
}

.row .col-3-4 {
  width: 75%;
}

.row .col-1-5 {
  width: 20%;
}

.row .col-2-5 {
  width: 40%;
}

.row .col-3-5 {
  width: 60%;
}

.row .col-4-5 {
  width: 80%;
}

.row .inner {
  height: 36px;
  border-radius: 5px;
}

.row .inner-height {
  height: 180px;
}

.row .inner-height-200 {
  height: 200px;
}

.row .inner-height-88 {
  height: 88px;
}

/*上边框*/
.rx-border-top {
  border-top: 1px solid #e7e7e7;
}

body {
  font-family: 'Lato',sans-serif;
}

.gradient {
  background: #4cd964;
  background: linear-gradient(45deg,#4cd964 0%,#5ac8fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cd964',endColorstr='#5ac8fa',GradientType=1);
  margin: 0 auto;
}

.header {
  padding-top: 92px;
}

.title {
  color: white;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0 20px 20px;
}

.subtitle {
  color: #16a085;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 20px 20px;
}

.subtitle+.subtitle {
  color: white;
}

.gh-btns {
  margin: 92px 0 0;
  background: rgba(0,0,0,.1);
  padding: 20px 0 10px;
}

.wrap {
  margin: 0 auto 90px;
  max-width: 540px;
  padding: 0 15px;
}

.clippy {
  margin-top: -3px;
  position: relative;
  top: 3px;
}

.btn[disabled] .clippy {
  opacity: .3;
}

.example {
  position: relative;
  margin: 15px 0 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  z-index: 2;
}

.example p {
  color: #666;
}

.example:after {
  content: "Example";
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  color: #9da0a4;
  border-radius: 4px 0 4px 0;
}

.example+.snippet {
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #ddd;
  clear: both;
  top: -20px;
  padding: 20px 0 0;
}

.form-actions {
  margin-top: 15px;
}

.form-actions .btn {
  float: left;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snippet {
  position: relative;
  overflow: visible;
}

.snippet code {
  font-size: 14px;
  line-height: 20px;
}

.snippet .btn {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.snippet:hover .btn,.snippet .btn:focus {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .snippet .btn {
    opacity:1;
  }
}

.example+.snippet .btn {
  top: 22px;
  right: 2px;
}

code {
  background-color: #E8F5F2;
  border-radius: 3px;
  color: #1BC1A1;
  font-size: 85%;
  margin: 0;
  padding: 0.2em;
}

.hljs-keyword {
  color: #008080;
  font-weight: normal;
}

.support {
  list-style: none;
  text-align: center;
}

.support li {
  display: inline-block;
  text-align: center;
  margin: 15px 0;
  width: 30%;
}

@media screen and (max-width: 410px) {
  .support li {
    width:45%;
  }
}

@media screen and (max-width: 290px) {
  .support li {
    width:100%;
  }
}

.support p {
  margin: 0;
}

.credits,.maintainer {
  font-weight: 400;
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  color: #16a085;
  padding: 30px 0;
  margin: 0;
}

.footer-link {
  color: white;
  border-color: white;
}

.footer-link:hover,.footer-link:focus {
  text-decoration: none;
  border-color: white;
}

.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
  }
}

@-moz-keyframes love {
  to {
    -moz-transform: scale(1.2);
  }
}

@keyframes love {
  to {
    transform: scale(1.2);
  }
}

.maintainer {
  background: rgba(0,0,0,.05);
}


[ag-click] span.show {
  display: inline;
}
[ag-click] span.hide {
  display: none;
}

[ag-click][active] span.show {
  display: none;
}
[ag-click][active] span.hide {
  display: inline;
}

[data-clipboard-demo] {
  top: 10px;
  right: 10px;
  position: absolute;
  color: #888;
  border: 0;
  background: transparent;
  padding: 0;
  height: inherit;
  line-height: inherit;
}

[data-clipboard-demo]:focus,
[data-clipboard-demo]:hover,
[data-clipboard-demo]:active {
  background: transparent !important;
  border-color: transparent !important;;
  box-shadow: none  !important;;
}

[layout-code-1][active],
[layout-code-2][active],
[layout-code-3][active] {
  display: block !important;
}

.code-block[active] {
  display: block !important;
}

.layout {
  padding: 10px;
}
.layout .layout-header div {
  background: #e1e9f0;
  height: 60px;
  margin: 0 0 10px;
}
.layout .layout-container {
  height: 160px;
}
.layout .layout-left div {
  background: #e8ecf1;
  height: 160px;
  width: 200px;
  margin: 0 10px 0 0;
}
.layout .layout-right {
  background: #f3f7fb;
  height: 160px;
}
.layout .layout-footer {
  background: #e1e9f0;
  height: 60px;
  margin-top: 10px;
}

.layout-2 {
  padding: 10px;
}
.layout-2 .layout-container {
  height: 280px;
}
.layout-2 .layout-left div {
  background: #e8ecf1;
  height: 280px;
  width: 200px;
  margin: 0 10px 0 0;
}
.layout-2 .layout-right {
  height: 280px;
}
.layout-2 .layout-header div {
  background: #e1e9f0;
  height: 60px;
  margin: 0 0 10px;
}
.layout-2 .layout-content div {
  background: #f3f7fb;
  height: 140px;
}
.layout-2 .layout-footer {
  background: #e1e9f0;
  height: 60px;
  margin-top: 10px;
}

.layout-3 {
  padding: 10px;
}
.layout-3 .layout-header div {
  background: #e1e9f0;
  height: 60px;
  margin: 0 0 10px;
}
.layout-3 .layout-container {
  height: 220px;
}
.layout-3 .layout-left div {
  background: #e8ecf1;
  height: 220px;
  width: 200px;
  margin: 0 10px 0 0;
}
.layout-3 .layout-right {
  height: 220px;
}
.layout-3 .layout-content div {
  background: #f3f7fb;
  height: 150px;
}
.layout-3 .layout-footer {
  background: #e1e9f0;
  height: 60px;
  margin-top: 10px;
}

.color-block {
  padding: 10px;
}

.color-block div {
  height: 80px;
  border-radius: 5px;
  color: #fff;
  padding: 20px 20px;
}

.color-block div.ag-bg-white {
  border-width: 1px;
  border-style: solid;
  color: #000;
}

.button-wrap {
  padding: 10px 0;
}
.button-wrap .ag-button {
  margin: 0 10px;
}

.ag-button.bg-blue.hover {
  background-color: #5CBBFF;
  border-color: #5CBBFF;
}

.ag-button.bg-blue.active {
  background-color: #0A8BE8;
  border-color: #0A8BE8;
}

.ag-button-group {
  margin-left: 10px;
}

.ag-button-group .ag-button {
  padding: 5px 10px;
}

.component-wrap {
  padding: 10px;
}
.component-wrap.radio > label {
  padding-right: 20px;
  font-weight: 300;
}

.component-wrap.checkbox > label {
  padding-right: 20px;
  font-weight: 300;
}

.component-wrap.switch > label {
  margin-right: 20px;
  font-weight: 300;
}

.input-wrap input {
  margin-right: 20px;
  width: 200px;
}
.textarea-wrap textarea {
  margin-right: 20px;
  width: 300px;
}

.select-wrap select {
  margin-right: 20px;
  width: 200px;
}

.tag-wrap {
  padding: 10px;
}

.tag-wrap .ag-tag {
  margin-right: 10px;
}

.tag-wrap > div:first-child {
  margin-bottom: 20px;
}

.tag-wrap .ag-tag[active] {
  display: none;
}

.code-wrap {
  padding: 10px;
}

.code-wrap .ag-badge-host {
  display: inline-block;
  margin-right: 20px;
}

.code-wrap .ag-badge-host .ag-button {
  padding: 5px 20px;
  border-radius: 3px;
}

.code-wrap.progress>div {
  margin-bottom: 10px;
}

.code-wrap.progress>div .ag-progress {
  width: 400px;
}

.code-wrap.drawer button {
  margin-right: 10px;
}

/*头部*/
.aigo-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #30a8ff;
  color: #fff;
  position: relative;
}

.aigo-logo {
  font-size: 18px;
}

.aigo-logo a {

}

.aigo-logo img {
  height: 36px;
  position: relative;
  top: 7px;
  left: 5px;
}

.aigo-logo .symbol {
  position: relative;
  vertical-align: top;
  padding: 0 5px;
}

.aigo-logo .name {
  color: #fff;
  font-size: inherit;
  position: relative;
  vertical-align: top;
}

.aigo-menu {
  position: absolute;
  top: 0;
  right: 70px;
}

.aigo-menu:after {
  clear: both;
}

.aigo-menu li {
  float: left;
}

.aigo-menu li a {
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  margin: 0 2px;
  box-sizing: border-box;
}

.aigo-menu li.aigo-menu-item a {

}

.aigo-menu li.aigo-menu-item:hover a,
.aigo-menu li.aigo-menu-item.active a {
  background-color: #0094ff;
  border-radius: 20px;
}

.aigo-github {
  position: absolute;
  top: 8px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: block;
}

/*updatelog*/

.aigo-page-content {
  width: 90%;
  margin: 100px auto;
  min-height: 600px;
}

.aigo-updatelog-box {
  width: 100%;
  color: #585858;
}

.aigo-updatelog-box .edition {
  font-size: 24px;
  font-weight: bold;
}

.aigo-updatelog-box .edition:first-child {
  padding-top: 0px;
}

.aigo-updatelog-box .edition:last-child {
  padding-bottom: 0px;
}

.aigo-updatelog-box .edition .circle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #3aacff;
  float: left;
  margin: 3px 17px 0 -10px;
  background-color: #ffffff;
}

.aigo-updatelog-box .edition .small-font {
  float: left;
  font-size: 14px;
  color: #888888;
  font-weight: normal;
  padding: 7px 0 0 7px;
}

.aigo-updatelog-box .message {
  padding: 18px 25px;
  border-left: 1px solid #e6e6e6;
  margin: -4px 0 -4px 0px;
}

.aigo-updatelog-box .message .date {
  display: inline-block;
  color: #888888;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 8px 14px;
  margin-bottom: 24px;
}

.aigo-updatelog-box .message ul.message-list {
  list-style-type: disc;
  font-size: 14px;
  margin-left: 18px;
}

.aigo-updatelog-box .message ul.message-list li {
  margin-bottom: 10px;
}


/*footer*/

.aigo-footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: #000;
}

.aigo-footer a  {
  color: #999;
}
