/* 布局 */

.ag-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ag-shrink {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.ag-grow-auto {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
