/* 下拉框 */

/* chrome浏览器的input自动填充文本后的背景色默认是黄色 */
/* 使用以下样式来覆盖原有的样式，更改了背景和字体颜色 */
.ag-select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #fff;
  background-color: #fff;
  background-image: none;
}

.ag-select {
  outline: none; /* 取消chrome浏览器的input获取焦点的默认辉光 */
  height: 36px;
  border: 1px solid #CECECE; /* Chrome和Firefox里面的边框是不一样的，所以复写了一下 */
  color: #585858;
}

.ag-select:hover {
  border: 1px solid #30A8FF;
}

.ag-select:disabled {
  color: #A6A6A6;
  cursor: not-allowed;
}

.ag-select:disabled:hover {
  border: 1px solid #CECECE;
}


