/* Tabs 标签页 */

.ag-tab {
}

.ag-tab .ag-tab-head {
  border-bottom: 1px solid #E7E7E7;
}

.ag-tab .ag-tab-head .ag-tab-head-item {
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.ag-tab .ag-tab-head .ag-tab-head-item:hover {
  color: #30A8FF;
}

.ag-tab .ag-tab-head .ag-tab-head-item[active] {
  border-bottom: 2px solid #30A8FF;
}

.ag-tab .ag-tab-content {
  box-sizing: border-box;
  padding: 10px;
}

.ag-tab .ag-tab-content .ag-tab-content-item {
  display: none;
}

.ag-tab .ag-tab-content .ag-tab-content-item[active] {
  display: block;
}

/* 卡片风格 */

.ag-tab-card {
}

.ag-tab-card .ag-tab-head .ag-tab-head-item {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #E7E7E7;
}

.ag-tab-card .ag-tab-head .ag-tab-head-item[active] {
  border-bottom: 1px solid #fff;
}


